<div id="<%= dom_id reservation %>">
  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= reservation.customer_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= reservation.restaurant_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= reservation.comment %>
  </p>

  <p>
    <strong>Covers:</strong>
    <%= reservation.covers %>
  </p>

</div>
